div.main {
  height: 85vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img.main-logo{
  width: 100px;
}

div.main div.row button{
  width: 250px;
}
