@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,900;1,600;1,700;1,900&display=swap");

body {
  font-family: "Nunito", sans-serif !important;
  font-weight: 600;
  background-color: #f3f9fb;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

button,
input,
optgroup,
select,
textarea,
a {
  font-family: "Nunito", sans-serif !important;
}

.btn-outline-secondary{
  border-color: #E34B31 !important;
  color: #f3f9fb !important;
}

.btn-outline-secondary:hover {
  background-color: #E34B31 !important;
  border-color: #E34B31 !important;
}

.btn-secondary{
  border-color: #E34B31 !important;
  background-color: #E34B31 !important;
  color: #f3f9fb !important;
}

.btn-secondary:hover {
  background-color: #D94025 !important;
  border-color: #D94025 !important;
}