@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,900;1,600;1,700;1,900&display=swap");

body {
  font-family: "Nunito", sans-serif !important;
  background-color: #f3f9fb;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

button,
input,
optgroup,
select,
a {
  font-family: "Nunito", sans-serif !important;
}

#searchtemplate {
  padding: 0 15px;
  background-color: white;
  border: none;
  border-radius: 30px;
}


.btn-outline-secondary {
  border-color: #e34b31 !important;
  color: #f3f9fb !important;
}

.btn-outline-secondary:hover {
  background-color: #e34b31 !important;
  border-color: #e34b31 !important;
}

.btn-secondary {
  border-color: #e34b31 !important;
  background-color: #e34b31 !important;
  color: #f3f9fb !important;
}

.btn-secondary:hover {
  background-color: #d94025 !important;
  border-color: #d94025 !important;
}
